<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi solicitada para o email ({{ email }}). <br>
Se você não foi o autor dessa requisição, seria legal trocar sua senha para garantir.</p>

<a href="{{ link }}">Criar nova senha</a>
